App.vue

<template>
    <h1>Ejemplo 3: Definir métodos y procesar la información</h1>
    <p>Si dices buenos días en vasco, catalán o gallego te responderá. En caso contrario te dirá el listado de idiomas que conoce.</p>
    <input v-model="hello">
    <Child v-if="goodMornings[hello]" :lang="goodMornings[hello]" :text="hello"/>
    <p v-else>
      No sé en que idioma me hablas, solo hablo:
      <p>{{ Object.values(goodMornings).join(', ') }}</p>
    </p>
    <button @click="buttonClick()">Quiero añadir un idioma</button>
    <button v-on:click="buttonClick()">Quiero añadir un idioma</button>
    <div v-if="showNewLanguageForm">
      <p>Cómo se dice buenos días en el nuevo idioma?</p>
      <input v-model="newGoodMorning">
      <p>Que idioma es?</p>
      <input v-model="newLang">
      <br>
      <button @click="addLanguage()">Añadir idioma</button>
    </div>
  </template>
  
  <script>
  
  import Child from './Child.vue';
  
  export default {
      components: {
        Child
      },
      methods: {
          buttonClick() {
              this.showNewLanguageForm = true
          },
          addLanguage() {
            this.goodMornings[this.newGoodMorning] = this.newLang
            this.showNewLanguageForm = false
            this.newLang = ''
            this.newGoodMorning = ''
          }
      },
      data() {
          return {
              hello: "Buenos días!",
              goodMornings: {
                  'Egun on': 'vasco',
                  'Bon dia': 'catalán',
                  'Bos días': 'gallego'
              },
              showNewLanguageForm: false,
              newGoodMorning: '',
              newLang: ''
          };
      }
  }
  </script>

Child.vue


<template>
    <p>Has dicho buenos días en {{ lang }}?? Pues {{ text }} a ti también!</p>
  </template>
  
  <script>
  export default {
    props: {
      text: {
          required: true,
          type: String
      },
      lang: {
          required: true,
          type: String
      }
    }
  }
  </script>