App.vue

<template>
  <h1>Ejemplo 2: Incorporar un child y enviarle información</h1>
  <p>Si dices buenos días en vasco, catalán o gallego te responderá. En caso contrario te dirá el listado de idiomas que conoce.</p>
  <input v-model="hello">
  <Child v-if="goodMornings[hello]" v-bind:lang="goodMornings[hello]" :text="hello"/>
  <p v-else>
    No sé en que idioma me hablas, solo hablo:
    <p v-for="language in languages">{{ language }}</p>
  </p>
  <button @click="buttonClick()">Quiero añadir un idioma</button>
  <button v-on:click="buttonClick()">Quiero añadir un idioma</button>
</template>

<script>

import Child from './Child.vue';

export default {
    components: {
      Child
    },
    methods: {
        buttonClick() {
            alert("Por ahora no se puede :(");
        }
    },
    data() {
        return {
            hello: "Buenos días!",
            languages: ["vasco", "catalán", "gallego"],
            goodMornings: {
                'Egun on': 'vasco',
                'Bon dia': 'catalán',
                'Bos días': 'gallego'
            }
        };
    }
}
</script>

Child.vue

<template>
  <p>Has dicho buenos días en {{ lang }}?? Pues {{ text }} a ti también!</p>
</template>

<script>
export default {
  props: {
    text: {
        required: true,
        type: String
    },
    lang: {
        required: true,
        type: String
    }
  }
}
</script>
