<template>
  <h1>Ejemplo 1: Directivas básicas en vue</h1>
  <p>Si dices buenos días en vasco, catalán o gallego te responderá. En caso contrario te dirá el listado de idiomas que conoce.</p>
  <input v-model="hello">
  <p v-if="hello === 'Egun on'">Has dicho buenos días en vasco?? Pues {{ hello }} a ti también!</p>
  <p v-else-if="hello === 'Bon dia'">Has dicho buenos días en catalán?? Pues {{ hello }} a ti también!</p>
  <p v-else-if="hello === 'Bos días'">Has dicho buenos días en gallego?? Pues {{ hello }} a ti también!</p>
  <p v-else>
    No sé en que idioma me hablas, solo hablo:
    <p v-for="language in languages">{{ language }}</p>
  </p>
  <button @click="buttonClick()">Quiero añadir un idioma</button>
  <button v-on:click="buttonClick()">Quiero añadir un idioma</button>
</template>

<script>

export default {
  methods: {
    buttonClick() {
      alert('Por ahora no se puede :(')
    }
  },
  data () {
    return {
      hello: 'Buenos días!',
      languages: ['vasco', 'catalán', 'gallego']
    }
  }
}
</script>